<div class="topbar fn-clear">
    <div class="grid">
        <div class="logobox fn-left">
            <h3 class="logo">LU-FE</h3>
            <span class="slide fn-left"> | </span>
            <div class="desc fn-left">
                <p>陆金所前端团队</p>
            </div>
        </div>
        <ul class="nav fn-right">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">前端工具箱</a></li>
            <li><a href="#">快捷导航</a></li>
            <li><a href="#">新人指南</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
    </div>
</div>